body{
    background-color: rgb(12, 128, 236);
    font-size: normal 15pt;

}
header{
    color: rgb(5, 3, 3);
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding:  15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}
div{
    text-align: center;
    padding: 8px;
}


footer{
    text-align: center;
    font-style: italic;
}